<div class="d-flex mt-4">
  <div class="me-4">
    <%= render "story/stories_list" %>
    <%= render "posts/post",post: current_user.posts.last %>
  </div>

  <%= render "suggestions/suggestions_list" %>
</div>
