<div class="container home-sections d-flex flex-row justify-content-center align-items-center">
  <div class="image-section pt-3 d-none d-lg-block"></div>
  <div class="login-section p-3">
    <div class="card text-center pt-5">
      <%= image_tag 'logo.png', class: 'logo-img card-img-top mx-auto' %>
      <div class="card-body">
        <div class="mb-3 mt-4">
          <input type="email" class="form-control" id="email" placeholder="Phone number, username or email" />
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="password" placeholder="Password" />
        </div>
        <a href="#" class="btn btn-primary d-block">Log in</a>
      </div>
      <div class="d-flex align-items-center mt-4 justify-content-around">
        <div class="line"></div>
        <span class="line-text">OR</span>
        <div class="line"></div>
      </div>
      <a href="#" class="d-block mt-4 text-decoration-none fw-bold">
        <%= image_tag "facebook.png", class: "facebook" %>
        Log in with Facebook
      </a>
      <a href="#" class="fs-6 d-block my-4 text-decoration-none">Forgot password?</a>
    </div>
    <div class="card text-center py-2 mt-3">
      <div class="card-body">
        Don't have an account?
        <a href="#" class="fs-6 my-4 text-decoration-none">Sign up</a>
      </div>
    </div>
  </div>
</div>