<div class="d-flex justify-content-between align-items-center mb-3">
  <div class="d-flex align-items-center">
    <%= render "user/avatar", user: liker %>

    <div class="ms-2 lh-sm">
      <small class="fw-bold d-block"><%= liker.username %></small>
      <small class="d-block"><%= liker.full_name %></small>
    </div>
  </div>
  <a class="btn btn-primary">Follow</a>
</div>
