<div class="suggestion-list-container">
  <div class="text-nowrap d-flex fw-bold justify-content-between">
    <p class="text-muted">Suggestions for you</p>
    <%= link_to 'See all', root_path, class: 'text-decoration-none text-dark' %>
  </div>

  <%= render 'suggestions/suggestion' %>
</div>
